.wifi-setup-universe {
  margin: 10px;
}

.wifi-connect-indicator {
  color: black;
}

.wifi-noconnect-indicator {
  color: lightgrey;
}

.selected-wifi {
  float: right;
}

bb-wap-list {
  display: block;
  height: 185px;
  width: 100%;
  overflow: hidden;
}

.wifi-input {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

button {
  margin-right: 2px;
}
