@use '@angular/material' as mat;
@import '../../variables';

div {
  padding: $component-padding;
  width: $component-width;
  height: $component-height;
  @include mat.elevation($component-elevation);
}
