@import '../../../../variables';

.color-dialog-universe {
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
  left: 0px;
  top: 0px;
  padding: 0px;
  margin: 2px;
  width: $color-picker-width;
  height: $component-height;
}

color-picker {
  float: right;
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
}

.color-dialog-actions {
  float: right;
  display: block;
}

button {
  float: right;
  display: block;
  overflow: hidden;
}
