<mat-toolbar>
  <button *ngIf="settingsService?.settings?.capabilities?.led" mat-icon-button [routerLink]="['/bb-colour']" routerLinkActive="active-link"><mat-icon>color_lens</mat-icon></button>
  <button *ngIf="settingsService?.settings?.capabilities?.wifi"  mat-icon-button [routerLink]="['/bb-wifi']" routerLinkActive="active-link"><mat-icon>wifi</mat-icon></button>
  <button *ngIf="settingsService?.settings?.capabilities?.equaliser" mat-icon-button [routerLink]="['/bb-graphic-equaliser']" routerLinkActive="active-link"><mat-icon>equalizer</mat-icon></button>
  <button *ngIf="settingsService?.settings?.capabilities?.text_message" mat-icon-button [routerLink]="['/bb-txt-message']" routerLinkActive="active-link"><mat-icon>blur_linear</mat-icon></button>
</mat-toolbar>

<mat-card><router-outlet></router-outlet></mat-card>
