@import '../../../variables';

.beat-colours-universe {
  width: $tabbed-component-width;
  height: $component-height;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.beat-colour-componoent {
  margin: $main-component-padding;
}

.beat-colour-actions {
  display: block;
  float: right;
}
