@use '@angular/material' as mat;
@import '../../variables';
@import '../../assets/font/DOTMatrix.css';

.txt-msg-universe {
  padding: $component-padding;
  width: $component-width;
  height: $component-height;
  @include mat.elevation($component-elevation);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.txt-msg-universe > div {
  position: relative;
  align-items: bottom;
  flex-direction: column;
  width: fit-content;
  padding: $main-component-padding;
}

.msgtxt {
  position: relative;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  flex-grow: 1;
}

.msb-box {
  border-style: inset;
  color: red;
  background-color: lighten(black, 10%);
  width: $component-input-width;
  overflow-x: hidden;
  position: relative;
  display: flex;
}

.marquee {
  position: relative;
  width: fit-content;
  white-space: nowrap;
  font-family: DotMatrix;
  height: 90px;
  font-size: 80px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

.slidecontrols {
  display: flex;
  bottom: 0px;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.slidecontrols > mat-label {
  padding-right: 5px;
}

.scrollspeed,
mat-form-field {
  width: 100%;
}

mat-slide-toggle {
  padding-left: $component-padding;
}

.scrollspeed > mat-label {
  padding-left: 20px;
}

.scrollspeed {
  align-items: center;
  display: flex;
  float: right;
}

mat-slider {
  float: right;
  right: 0px;
  width: 42%;
}
