@use '@angular/material' as mat;
@import '../../variables';
@import '../../assets/font/DOTMatrix.css';

.txt-msg-universe {
  padding: $component-padding;
  width: $component-width;
  height: $component-height;
  @include mat.elevation($component-elevation);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.txt-msg-universe > div {
  position: relative;
  align-items: bottom;
  flex-direction: column;
  padding: $main-component-padding;
}

.msgtxt {
  position: relative;
  display: flex;
  white-space: nowrap;
  align-items: center;
  width: 100%;
}

.msgtxt {
  font-family: DotMatrix;
  height: 90px;
  font-size: 80px;
}

.msb-box {
  border-style: inset;
  color: red;
  background-color: lighten(black, 10%);
  overflow-x: clip;
}

.slidecontrols {
  display: flex;
  bottom: 0px;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.slidecontrols > mat-label {
  padding-right: 5px;
}

.scrollspeed,
mat-form-field {
  width: 100%;
}

mat-slide-toggle {
  padding-left: $component-padding;
}

.scrollspeed > mat-label {
  padding-left: 20px;
}

.scrollspeed {
  align-items: center;
  display: flex;
  float: right;
}

mat-slider {
  float: right;
  right: 0px;
  width: 42%;
}
