<div class="txt-msg-universe" *ngIf="settingsService && settingsService.settings">
  <div>
    <div class="msb-box">
      <marquee>
        <!-- <div scrolldelay="{{ (settingsService.settings.messagescroll && settingsService.settings.scrollspeed > 0 ? 101 - settingsService.settings.scrollspeed : 0) / 2 + 's' }}" behavior="loop"> -->
        <div class="msgtxt">{{ settingsService.settings.message }}</div>
      </marquee>
    </div>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Message</mat-label>
      <input matInput type="text" placeholder="Hello" ngDefaultControl [(ngModel)]="settingsService.settings.message" (ngModelChange)="saveChanges()" />
    </mat-form-field>
    <div class="slidecontrols">
      <mat-label>Beat</mat-label><mat-slide-toggle color="primary" ngDefaultControl [(ngModel)]="settingsService.settings.messagescroll" (ngModelChange)="saveChanges()">Scroll</mat-slide-toggle>
      <div class="scrollspeed">
        <mat-label>Scroll speed</mat-label>
        <mat-slider thumbLabel discrete color="primary" min="1" max="100" step="1" tickInterval="10" ngDefaultControl [(ngModel)]="settingsService.settings.scrollspeed" (change)="saveChanges()"> <input matSliderThumb /></mat-slider>
      </div>
    </div>
  </div>
</div>
